

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <base th:href="${#request.getContextPath()}+'/'">


<!-- <script id="allmobilize" charset="utf-8" src="js/allmobilize.min.js"></script> -->
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Cache-Control" content="no-transform" />
<link rel="alternate" media="handheld" href="#" />


<link type="text/css" rel="stylesheet" href="css/base.css" />
<link type="text/css" rel="stylesheet" href="css/base_1.css" />
<link type="text/css" rel="stylesheet" href="css/jquery-ui.min.css" />
<link type="text/css" rel="stylesheet" href="css/jquery-ui-timepicker-addon.css" />
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery-1.11.3.extends.js"></script>
<script type="text/javascript" src="js/dateextend.js"></script>
<script type="text/javascript" src="js/ajaxfileupload.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.datepicker-zh-cn.js"></script>
<script type="text/javascript" src="js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/businesscommon.js"></script>
<script src="js/ecpbase.js"></script>
<script src="js/ecpvalidation.js"></script>
<link type="text/css" rel="stylesheet" href="css/simpwinform.css" />
<script type="text/javascript" src="js/simpwinform.js"></script>
<script>
    var baseUrl = "";
    var lotUrl="/jsp/ecp/public/auction.jsp?lotid=";
    var chatName = ""; 
    var chatId = "";
</script>





<link type="text/css" rel="stylesheet" href="css/login.css" />
<script type="text/javascript" src="js/login.js"></script>

<title>用户登录</title>

</head>

<body>

	<!-- 防止在弹出窗口打开登录页 -->
	<script type="text/javascript">
		if (window != top)
			top.location.href = location.href;
	</script>

	


<script type="text/javascript" src="js/header.js"></script>
<script type="text/javascript" src="js/jquery.superslide.2.1.1.js"></script>

<script>
	var showNotice = "true";
</script>
<style>
   .noticeDivBox{
      width:300px;
      float: left;
      position:relative;
      zoom:1;
      overflow:hidden;
   }
   .noticeDivBox:HOVER {
      content: "";
      display: block;
      clear: both;
   }
   
   .noticeDiv{
      width:220px;
      float: left;
      left:65px;
      
   }
   .noticeDiv ul{
      height:40px;
      overflow:hidden;
      zoom:1;
   }
   
   .noticeDiv ul li{ 
    height:40px; 
    line-height:40px;  
    text-align:center; 
    _display:inline; 
    width:auto !important;  
    max-width:200px;
    overflow:hidden; /*内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
    white-space:nowrap; /*不换行 */
    }  /* 用 width:auto !important 覆盖SuperSlide自动生成的宽度，解决文字不衔接问题 */
    
    .noticeDiv ul li a{
    }
    
    .noticeDiv ul li a:visited { 
	  COLOR: #000000; 
	} 
	.noticeDiv ul li a:hover { 
	  COLOR: #c81623; 
	} 
	.noticeDiv ul li a:active { 
	  COLOR: #c81623; 
	} 
	
	 #header_nickName a:hover{
	  text-decoration: underline;
	  color:#E6002D;
	}
	

</style>
<div class="headAndFoot" style="background:#F9F4F4;clear:both;">
    <div style="width:1190px;height:40px;line-height:40px;text-align:center;margin:auto;">
        <div id="noticeDivBox" class="noticeDivBox">
            <div style="float: left;">
                <img src="picture/notice.png" />&nbsp;&nbsp;公告：
            </div>
            <div id="noticeDiv" class="noticeDiv">
                <ul id="noticeList" class="header_ul">
                </ul>
            </div>
        </div>
        <div id="indexLinkDiv" style="width:100px;float: left;position:relative;">
           
        </div>
        <div style="float: right;">
            <div>
                <div style="float:left">
                                                      您好，&nbsp;<span id="header_nickName">
                                   <a  href="/jsp/ecp/buyer/buyerindex.jsp" target=""></a>
                                </span>
                                <shiro:user>
                                <a id="header_logout" href="html/" onclick="logout();"th:text="${session.user}">&nbsp;<b></b></a>
                                </shiro:user>
                                <shiro:guest>
                                <a id="header_login" href="html/login.html" target="_self" style=""><b>请登录</b></a>&nbsp;&nbsp;
                                </shiro:guest>
                </div>
                <div style="float:left;">
                    <a href="html/register.html"
                    target="_self" style="color: #FF003B;font-weight:600;">免费注册</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                </div>
                <div id="myDealDiv" style="cursor: pointer;float:left;position:relative;display:none;" ><a href="/jsp/ecp/buyer/buyerindex.jsp">买家中心</a><img
                    src="picture/pulldown.png" />&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <ul id="myDeal" class="headerMenu_ul" style="position:absolute;z-index:1001;left:-20px;">
                        <li style="display:none"><a href="/jsp/ecp/buyer/buyerindex.jsp">买家首页</a></li>
                        <li style="display:none"><a href="/jsp/ecp/buyer/trademng/myauct.jsp">我的竞拍</a></li>
                        <li style="display:none"><a href="/jsp/ecp/buyer/trademng/myclinch.jsp">我的成交</a></li>
                        <li style="display:none"><a href="/jsp/ecp/buyer/trademng/mycart.jsp">结算</a></li>
                        <li style="display:none"><a href="/jsp/ecp/buyer/myasset/margin.jsp">我的保证金</a></li>
                    </ul>
                </div>
                <div style="float:left;display:none;" >
                    <a href="/jsp/ecp/buyer/focuscnt/focusauct.jsp" target="_self">我的关注</a>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                </div>
                 <div id="sellerCenterDiv" style="cursor: pointer;float:left;position:relative;display:none;" >
                                                    <a href="/jsp/ecp/seller/tranm/ordermanagelist.jsp">卖家中心</a><img
                    src="picture/pulldown.png" />&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <ul id="sellerCenter" class="headerMenu_ul" style="position:absolute;z-index:1001;left:-20px;">
                        <li style="display:none"><a href="/jsp/ecp/seller/tranm/ordermanagelist.jsp">卖家首页</a></li>
<!--                         <li style="display:none"><a href="#">免费开店</a></li> -->
<!--                         <li style="display:none"><a href="#">已卖出的拍品</a></li> -->
                        <li style="display:none"><a href="/jsp/ecp/item/manage/itemmng.jsp?tabIndex=0">预展中的拍品</a></li>
                        <li style="display:none"><a href="/jsp/ecp/item/manage/itemmng.jsp">拍卖中的拍品</a></li>
<!--                         <li style="display:none"><a href="#">卖家服务市场</a></li> -->
<!--                         <li style="display:none"><a href="#">卖家培训中心</a></li> -->
                    </ul>
                </div> 
                <div id="activeCenter" style="float:left;">
                  <a href="/jsp/ecp/buyer/myasset/active.jsp" target="_self">活动中心</a>&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                </div>
               
                
                <div id="mavinDiv" style="cursor: pointer;float:left;position:relative;display:none;" >
                                                    专家中心<img src="picture/pulldown.png" />&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <ul id="mavinUlDiv" class="headerMenu_ul" style="position:absolute;z-index:1001;left:-20px;">
                        <li style="display:none"><a href="/jsp/ecp/mavin/center/mavinindex.jsp">专家首页</a></li>
                        <li style="display:none"><a href="/jsp/ecp/buyer/trademng/myauct.jsp">我的服务</a></li>
                        <li style="display:none"><a href="/jsp/ecp/buyer/trademng/myclinch.jsp">我的成交</a></li>
                        <li style="display:none"><a href="/jsp/ecp/buyer/myasset/margin.jsp">我的保证金</a></li>
                        
                    </ul>
                </div> 
                <div id="helpCenterDiv" style="cursor: pointer;float:left;position:relative;">
                                                       帮助中心<img
                    src="picture/pulldown.png" />
                    <ul id="helpCenter" class="headerMenu_ul" style="position:absolute;z-index:1001;left:-20px;">
                        <li style="display:none"><a target="_blank" href="/jsp/ecp/helpdoc/helpcenter.jsp?menuId=2">买家帮助</a></li>
                        <li style="display:none"><a target="_blank" href="/jsp/ecp/helpdoc/helpcenter.jsp?parId=0">卖家帮助</a></li>
                        <li style="display:none"><a target="_blank" href="/jsp/ecp/helpdoc/helpcenter.jsp?parId=1">常见问题</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
	<div class="bodyDiv">
		<div class="container">

			<!-- logo -->
			<div class="logo">
				<a href="/index.jsp"><img src="picture/logo.png" style="border:none;"/></a>
			</div>

			<!-- 登录输入区域 -->
			<div class="input_1200">
				<div class="inputAreaBg">
					<img class="loginBgImg"
						src="picture/loginbgimg.png" />
					<div class="inputArea">
						<div class="textDiv">
							<div class="loginText">用户登录</div>
							<a href="html/register.html">
							<div class="registerText"
								>立即注册</div></a>
						</div>

						<div class="msg">
							<div class="msg_wrap">
								<div class="msg_img_div">
									<div class="msgImg"></div>
									<div class="errorImg"></div>
								</div>
								<div class="msg_content">
									<span class="showmsg"></span>
								</div>
							</div>
						</div>
						<div class="nickNameDiv">
							<!-- <input class="inputText" type="text" placeholder="用户名/邮箱/手机号码"/> -->
							<input class="nickNameInput textInput" type="text" id="username"
								value='用户名/邮箱/手机号码' />
						</div>
						<div class="passwordDiv">
							<!-- <input class="passwordInput" type="password" placeholder="密码" /> -->
							<input class="pwhidden passwordInput textInput" type="password" id="password"
								style="display: none;" value='' /> <input
								class="passwordTextInput textInput" type="text" value='密码'  />
						</div>
						<div class="autoLoginDiv">
							<input id="rememberMe" type="checkbox"   name="rememberMe"/>&nbsp;&nbsp;自动登录<span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span><span><a href="/jsp/ecp/findpwd/findindex.jsp" target="_blank">忘记密码?</a></span>
						</div>
						<div class="loginBtn" id="enterLogin" onclick="Login();">登&nbsp;&nbsp;录</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
<div  style="float:left;width:100%;clear:both;">
    <div class="headAndFoot">
    <!-- 关于我们 -->
    <div style="width: 1190px; margin: auto;margin-top:10px;margin-bottom:20px;line-height:25px;">
         <div style="width: 1190px; height: 1px; background: #FFFFFF; margin-bottom: 5px;"></div>
                <div>
                    <div>
                        <div>
                            <div style="margin-top:10px;">
                                <div class="quicklink">
                                    <a style="color: #65635F;" href="/jsp/ecp/helpdoc/about_us.jsp?menuId=0" id="aboutus" target="_blank">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a style="color: #65635F;" href="/jsp/ecp/helpdoc/about_us.jsp?menuId=6" target="_blank">友情链接</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a style="color: #65635F;" href="/jsp/ecp/helpdoc/about_us.jsp?menuId=5" target="_blank">招聘信息</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a style="color: #65635F;" href="/jsp/ecp/helpdoc/about_us.jsp?menuId=2" target="_blank">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a style="color: #65635F;" href="/jsp/ecp/helpdoc/about_us.jsp?menuId=3" target="_blank">网站地图</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a style="color: #65635F;" href="/jsp/ecp/helpdoc/about_us.jsp?menuId=7" target="_blank">互联网行为规范</a>
                                </div>
                                <div class="quicklink">
                                    <a style="color: #65635F;" href="http://www.cguardian.com/" target="_blank">中国嘉德国际拍卖有限公司</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                    <!-- a style="color: #65635F;" href="http://www.artcool.com/" target="_blank">ARTCOOL</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;-->
                                    <a style="color: #65635F;" href="http://www.dolcey.com/" target="_blank">道喜红酒网</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a style="color: #65635F;" href="http://www.e-unionpay.com/" target="_blank">中国银联</a>
                                </div>
                                <div style="color: #65635F;">
                                    <span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4b08243b3239222c233f0b7a72727266797b7a72">[email&#160;protected]</a> ARTRADE.COM All Rights Reserved</span><span>北京嘉德在线拍卖有限公司</span><br />
                                    <span>ICP经营许可证编号:京ICP证010113号</span><span>北京市通信公司提供网络带宽</span><span>京公网安备110101003008号</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<script data-cfasync="false" src="js/email-decode.min.js"></script>
<script type="text/javascript"  src="js/su.js"></script>

<script type="text/javascript">
    function Login() {
        var username =$("#username").val();
        var password =$("#password").val();
        $.post("user/login",
            {
                username:username,
                password:password
            },function (data) {
                if(data.code==1){
                    alert("登录成功")
                    window.location.href="html/login.html";
                }else{
                    alert(data.msg)
                }
            })
    }
</script>

</body>
</html>
