.dateSelBoxCls{
	width: 130px;
	height: 180px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #f5f5f5;
	background-color: #fff;
	background-image: url(../../../../image/ecp/jt1.png);
	background-repeat: no-repeat;
	background-position: 106px 14px;
	z-index:9;
	margin-top:-1px;
}
.yearCls{
	width: 130px;
	line-height:30px;
	height:30px;
}
.yearGCls{
	width: 130px;
	line-height: 30px;
	height: 30px;
	color: #8F8F8F;
}

.find4Div {
	text-align: center;
	width: 130px;
	margin-left: 30px;
	cursor: pointer;
	background-image: url(../../../../image/ecp/jt2.png);
	background-repeat: no-repeat;
	background-position: 106px 15px;
	height:30px;
	line-height:30px;
}

.find4SelDiv {
	color:#FFF;
	background-color:#d73660;
	background-image: url(../../../../image/ecp/jt2.png);
	background-repeat: no-repeat;
	background-position: 106px 15px;
	height:30px;
	line-height:30px;
	
}



.overYearCls{
	background-color:#f5f5f5;
	color:#e4393c;
}


.queryDiv .selectBtn {
	width: 80px;
	height: 30px;
	line-height:30px;
	text-align: center;
	/* background-color: #ffffff; */
	float:right;
    margin-left: 20px;
}
.queryDiv .selectedBtn {
	width: 80px;
	height: 30px;
	line-height:30px;
	text-align: center;
	background-color: #D73660;
	float:right;
	color: #fff;
	margin-left:20px;
}
.queryDiv .selectedBtn:hover {
	 cursor: pointer;
}
.queryDiv .selectBtn:hover {
	background-color: #d73660;
	color: #fff;
	 cursor: pointer;
}