<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumu.auction.myAttention.mapper.AttentionMapper">
    <insert id="addAttention">
        insert into tb_attention (attention_user_id, attention_goods_id)
        values (#{attention.attentionUserId},#{attention.attentionGoodsId});
    </insert>
    <delete id="deleteAttention">
        delete from tb_attention where attention_goods_id=#{goodsId} and
        attention_user_id=#{userId};
    </delete>
    <select id="queryCountAttention" resultType="java.lang.Integer">
        select count(*) from tb_attention where attention_goods_id=#{goodsId}
    </select>
    <select id="queryAttentionByGoodsIdAndUserId" resultType="java.lang.Integer">
        select count(*) from tb_attention  where attention_goods_id=#{goodsId} and
        attention_user_id=#{userId};
    </select>
</mapper>