<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiumu.auction.dataile.mapper.BidMapper">
    <resultMap id="accountResultMap" type="com.jiumu.auction.dataile.po.TbAccount">
        <id property="accountId" column="account_id"/>
        <result property="accountUserId" column="account_user_id"/>
        <result property="accountBalance" column="account_balance"/>
        <result property="deposit" column="deposit"/>
        <result property="totalMarginMoney" column="total_margin_money"/>
        <result property="freezeMarginMoney" column="freeze_margin_money"/>
        <result property="availableMarginMoney" column="available_margin_money"/>
        <result property="totalMarginLimit" column="total_margin_limit"/>
        <result property="freezeMarginLimit" column="freeze_margin_limit"/>
        <result property="availableMarginLimit" column="available_margin_limit"/>
        <result property="creditLimit" column="credit_limit"/>
        <result property="accountStatus" column="account_status"/>
    </resultMap>
    <!--private long accountId;
  private long accountUserId;
  private long accountBalance;
  private long deposit;
  private long totalMarginMoney;
  private long freezeMarginMoney;
  private long availableMarginMoney;
  private long totalMarginLimit;
  private long freezeMarginLimit;
  private long availableMarginLimit;
  private long creditLimit;
  private String accountStatus;-->
    <select id="queryAccountByUserId" resultMap="accountResultMap">
        select * from tb_account where account_user_id = #{userId}
    </select>
    <insert id="addHistorical">
        insert into tb_historical_price (historical_user_id, historical_goods_id, auction_time,auction_price, No1_judge, deduct_judge)
        values (#{historicalPrice.historicalUserId}, #{historicalPrice.historicalGoodsId},#{historicalPrice.auctionTime},
        #{historicalPrice.auctionPrice},#{historicalPrice.no1Judge},#{historicalPrice.deductJudge});
    </insert>
    <update id="updataAccount">
        update tb_account set freeze_margin_money =#{account.freezeMarginMoney},freeze_margin_limit =#{account.freezeMarginLimit},
        available_margin_limit =#{account.availableMarginLimit} where account_user_id=#{account.accountUserId}

    </update>
    <!-- private long accountUserId;
  private long accountBalance;
  private long deposit;
  private long totalMarginMoney;
  private long freezeMarginMoney;
  private long availableMarginMoney;
  private long totalMarginLimit;
  private long freezeMarginLimit;
  private long availableMarginLimit;
  private long creditLimit;
  private String accountStatus;-->
    <!--private long historicalPriceId;
  private long historicalUserId;
  private long historicalGoodsId;
  private java.sql.Timestamp auctionTime;
  private long auctionPrice;
  private String no1Judge;
  private String deductJudge;-->
</mapper>